@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

body {
  &::-webkit-scrollbar {
    width: 8px;
    background-color: #d9d0e8;
    border-radius: 5px;
    overflow: hidden;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #a39cb1;
    // border-radius: 5px;
  }
}

.custom-scroll {
  &::-webkit-scrollbar {
    width: 8px;
    background-color: #d9d0e8;
    border-radius: 5px;
    overflow: hidden;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #a39cb1;
    border-radius: 5px;
  }
}
.App {
  // background-color: #f5f3f7;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000;
}

.categories-electronics {
  background: url(./images/categories-electronics.jfif) no-repeat center
    center/cover;
}

.categories-mens-clothing {
  background: url(./images/categories-mens-clothing.jpg) no-repeat center
    center/cover;
}

.categories-womens-clothing {
  background: url(./images/categories-womens-clothing.jpg) no-repeat center
    center/cover;
}

.categories-kids-wear {
  background: url(./images/categories-kids-wear.jpg) no-repeat center
    center/cover;
}

.categories-footwear {
  background: url(./images/categories-footwear.jpg) no-repeat top center/cover;
}

.categories-accessories {
  background: url(./images/categories-accessories.jpg) no-repeat center
    center/cover;
}

.categories-home-decor {
  background: url(./images/categories-home-decor.jpg) no-repeat center
    center/cover;
}

.categories-cosmetics {
  background: url(./images/categories-cosmetics.jpg) no-repeat center
    center/cover;
}

.navbar-link {
  color: black;
  font-size: 1.275rem;
  font-weight: 500;
  // margin: 0px 3px 0px 3px;
  padding: 3px 2px;
  text-decoration: none;
  position: relative;

  &:after {
    bottom: -4px;
    content: '';
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    background: rgba(236, 72, 153, 1);
    opacity: 0.6;
    transition: width 0.6s ease 0s, opacity 0.6s ease 0s;
    width: 0;
  }

  &:hover:after {
    width: 100%;
    opacity: 0.9;
  }
}
.active-class {
  color: rgba(236, 72, 153, 1);
}
