.App {
	text-align: center;
}

.App-header {
	background-color: #f5f3f7;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: #000;
}
