@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap");
.App {
  // text-align: center;
  background-color: #f5f3f7;
  font-family: "Montserrat", sans-serif;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000;
}

.categories-electronics {
  background: url(./images/categories-electronics.jpg) no-repeat center
    center/cover;
}

.categories-mens-clothing {
  background: url(./images/categories-mens-clothing.jpg) no-repeat center
    center/cover;
}

.categories-womens-clothing {
  background: url(./images/categories-womens-clothing.jpg) no-repeat center
    center/cover;
}
.categories-jewellery {
  background: url(./images/categories-jewellery.jpg) no-repeat top center/cover;
}
